<?xml version="1.0"?>
<launch>
    <!-- turn off gazebo gui client to save resources -->
    <arg name="gazebo_gui" default="true"/>
    <arg name="world_name" default="simple_competition"/>
    <!-- if true physics are paused at startup -->
    <arg name="paused" default="false"/>

    <include file="$(find rdl_sim_worlds)/launch/rdl_sim_worlds_example.launch">
        <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>

</launch>